/* Stili di base */
body {
    margin:0;
    padding:0;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0); /* Imposta uno sfondo nero */
    font-family: Menlo, monospace;
    overflow-x: hidden;
}

.container {
    width: 98.7vw;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

.gradient {
    width: 100%;
    height: 850px;
    position: absolute;
    left: 0;
    top: 0px;
    background: linear-gradient(180deg, black 48%, rgba(0, 0, 0, 0) 100%);
    z-index: 999;
}

.regular-text {
    font-weight: 400;
    width: 445px;
    position: absolute;
    left: 150px;
    top: 340px;
    color: white;
    font-size: 13.5px;
    line-height: 130%;
    word-wrap: break-word;
    z-index: 999;
}

.bold-text {
    font-weight: 700;
}

/* Container immagini */
.image-container {
    position: relative;
    height: 2000px; /* Spazio totale per gestire lo scroll */
    background: #000000; /* Colore sfondo per evidenziare l'effetto */
}

.sticky-wrapper {
    position: sticky;
    top: 0;
    height: 100vh; /* Occupa l'intera altezza della viewport */
    width: 100vw; 
    display: flex;
   
    background-color: #ffffff;
    z-index: 10; /* Assicura che sia visibile sopra altri contenuti */
}

.sticky-content {
    width: 1500px; /* Dimensione del contenitore immagine */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    z-index: 11;
}

.sticky-content img {
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    background: #ffffff;
}

.sticky-title {
    position: absolute;
   
    right: 30px; /* Margine sinistro */
    color: rgb(255, 255, 255); /* Colore del testo */
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    z-index: 99999; /* Assicura che sia visibile sopra l'immagine */
    mix-blend-mode: exclusion;
    padding: 5px; /* Margine interno */
    border-radius: 5px; /* Angoli arrotondati */
}

/* Altri contenuti */
.container {
    padding: 25px 10px;
    background: #ffffff;
    color: #ffffff;
}

.titolo {
    font-weight: 1000;
    width: min-content;
    position: fixed;
    left: 30px;
    top: 20px;
    color: white;
    font-size: 20px;
    line-height: 130%;
    word-wrap: break-word;
    z-index: 99999;
    mix-blend-mode: exclusion;
}

/* .color-button {
    font-weight: 400;
    width: min-content;
    position: fixed;
    left: 47%;
    top: 24px;
    color: white;
    font-size: 15px;
    line-height: 130%;
    word-wrap: break-word;
    z-index: 99999;
    mix-blend-mode: exclusion;
} */

.about-button {
    font-weight: 400;
    width: max-content;
    position: fixed;
    right: 30px;
    top: 24px;
    color: white;
    font-size: 15px;
    line-height: 130%;
    word-wrap: break-word;
    z-index: 99999;
    mix-blend-mode: exclusion;
}


/* Footer container */
.container-footer {
    position: relative;
    width: 100%;
    height: 1150px; /* Altezza del footer */
    background: rgb(255, 255, 255); /* Colore di sfondo di base */
}

.footer-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 1150px; /* Altezza del gradiente */
    background: linear-gradient(0deg, black 75%, rgba(0, 0, 0, 0) 100%);
    z-index: 0; /* Dietro i testi */
}

.text {
    position: absolute;
    color: white;
    left: -1500px;
    font-size: 15px;
    font-weight: 400;
    line-height: 10.8px;
    word-wrap: break-word;
    z-index: 2; /* Sopra il gradiente */
    width: min-content;
}

.mirko {
    width: max-content;
    left: 335px;
    bottom: 30px; /* Posizione relativa all'interno del footer */
}

.lab {
    width: max-content;
    left: 620px;
    bottom: 30px;
}

.cv {
    width: max-content;
    left: 857px;
    bottom: 30px;
}

.year {
    width: max-content;
    left: 1065px;
    bottom: 30px;
}


video, img {
    max-width: 100%;
    height: auto;
}


.titolo {
    font-weight: 1000;
    width: max-content;
    position: fixed;
    right: 30px;
    top: 24px;
    color: white;
    font-size: 20px;
    line-height: 130%;
    word-wrap: break-word;
    z-index: 99999;
    mix-blend-mode: exclusion;
    text-decoration: none; /* Rimuove la sottolineatura di default */
    transition: text-decoration 0.2s ease-in-out; /* Transizione per l'effetto */
}

.titolo:hover {
    text-decoration: underline; /* Aggiunge la sottolineatura al passaggio del mouse */
}


.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Occupa tutta la larghezza della schermata */
    height: 100vh; /* Occupa tutta l'altezza della schermata */
    overflow: hidden; /* Nasconde il contenuto fuori dai limiti */
    z-index: 1; /* Posizionamento sotto altri elementi */
    mix-blend-mode: screen; /* Effetto di fusione */
    z-index: 99999;
    background-color: none;
}

.video-container video {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%); /* Centra il video */
    width: 100%; /* Occupa tutta la larghezza */
    height: 100%; /* Occupa tutta l'altezza */
    object-fit: cover; /* Il video copre l'intero container mantenendo le proporzioni */
}


.video-footer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Occupa tutta la larghezza della schermata */
    height: 100%; /* Occupa tutta l'altezza del footer */
    overflow: hidden; /* Nasconde il contenuto fuori dai limiti */
    z-index: 1; /* Posizionamento sotto altri elementi del footer */
    mix-blend-mode: screen; /* Effetto di fusione */
    background-color: none;
}

.video-footer video {
  
    position: absolute;
    bottom: -600px;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra il video */
    width: 90%; /* Occupa tutta la larghezza */
    height: 90%; /* Occupa tutta l'altezza */
    object-fit: cover; /* Il video copre l'intero container mantenendo le proporzioni */
    
}